<!-- Popular Products Section -->
<section class="popular-products py-5" id="popular">
  <div class="container">
    <div class="section-header text-center mb-5">
      <h2 class="section-title">Most Popular</h2>
      <div class="section-divider"></div>
    </div>
    <div class="row g-4">
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="product-card">
          <div class="product-image">
            <img src="{{ url_for('static', filename='images/indoor/monstera.jpg') }}" class="img-fluid" alt="Monstera deliciosa">
          </div>
          <div class="product-info">
            <h5 class="product-title">Monstera deliciosa</h5>
            <p class="product-description">The famous "Swiss Cheese Plant" for your home.</p>
            <a href="{{ url_for('shop.shop') }}" class="btn btn-product">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="product-card">
          <div class="product-image">
            <img src="{{ url_for('static', filename='images/outdoor/palm_tree.jpg') }}" class="img-fluid" alt="Palm Tree">
          </div>
          <div class="product-info">
            <h5 class="product-title">Palm Tree</h5>
            <p class="product-description">Tropical palm tree perfect for indoor decoration.</p>
            <a href="{{ url_for('shop.shop') }}" class="btn btn-product">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="product-card">
          <div class="product-image">
            <img src="{{ url_for('static', filename='images/indoor/plant2.jpg') }}" class="img-fluid" alt="Gobi Plant">
          </div>
          <div class="product-info">
            <h5 class="product-title">Gobi</h5>
            <p class="product-description">Elegant planter inspired by rolling landscapes.</p>
            <a href="{{ url_for('shop.shop') }}" class="btn btn-product">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
        <div class="product-card">
          <div class="product-image">
            <img src="{{ url_for('static', filename='images/indoor/golden_potho.jpg') }}" class="img-fluid" alt="Black Cavi">
          </div>
          <div class="product-info">
            <h5 class="product-title">Black Cavi</h5>
            <p class="product-description">Sophisticated dark planter for modern spaces.</p>
            <a href="{{ url_for('shop.shop') }}" class="btn btn-product">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>